extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/chat.css')

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/drag&drop.js" type="text/javascript")
  script(src="/javascripts/msgUtils.js" type="text/javascript")
  script(src="/javascripts/chat.js" type="text/javascript")

block content
  header
    h1= title
    p Inserisci un nome per iniziare!

  .container
    div#start
      form#login.form-inline(autocomplete="off")
        input#name(type="text" name="name" class="form-control ml-2 mb-2" 
          placeholder="Your name" maxlength="8" required)
        input(type="submit" class="btn btn-primary ml-2 mb-2" value="Submit")

    main.d-none
      div#info.info
        p.mb-0 Attualmente connessi:
        ul#members.list-inline.ml-2

      div#messages

      form#chat-form.msg-form.pt-1(autocomplete="off")
        #carousel.carousel-space
        div.form-group.mb-1
          //- label(for="msg") Testo
          textarea#text-msg.form-control(name="msg", cols="30", rows="3")
        .input-group.mb-1
          .custom-file
            input#file-msg.custom-file-input(type="file" multiple="")
            label.custom-file-label(for="inputGroupFile02") Choose file
          //-.input-group-append
            span.input-group-text Upload
        div
          button#audio-msg.btn.btn-success(type="button") Registra
        div 
          input(type="submit", value="Invia", class="btn btn-primary")

  //-
    footer.footer
      span Sito gestito da 13
