extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/chatroom.css')

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/chatroom-management.js" type="text/javascript")
  script(src="/javascripts/chatroom.js" type="text/javascript")

block content
  header
    h1= title
    p Chatroom!
    p
      a(href="/room") Nuova chat!

  .container-fluid
    video#video.mw-100(autoplay muted)

    #room.d-md-flex.flex-row.bd-highlight.bg-dark.flex-wrap(data-id=roomId)

  
  #controls.fixed-bottom.text-center.border-top.border-info.bg-info
    .btn-group.btn-group-lg.m-1(role="group")
      button#bottone-audio.btn.btn-success(type="button") Audio
      button#bottone-video.btn.btn-success(type="button") Video

  //-
    footer.footer
      span Sito gestito da 13
