extends layout

block scripts
    link(rel='stylesheet', href='/stylesheets/tests/video.css')
    script(src="/javascripts/tests/video.js" type="text/javascript")

block content
  h1= title
  p Welcome to #{title}
